@import 'aboutCoins';

.about {
    min-height: 600px;
    background-color: #FFD4DF;
    display: flex;
    align-content: end;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;


    &_bg {
        width: 100% !important;
        align-items: end;

        img {
            width: 100%;
        }
    }

    &_laptop {
        width: 100% !important;
        align-items: end;
        top: 160px;

        @media(max-width: 500px) {
            transform: scale(0.8);
        }

        @media(max-width: 390px) {
            transform: scale(0.6);
        }

        img {
            width: 800px;
        }

        &_inner {
            width: 100% !important;
            align-items: end;
            top: -90px;

            @media(max-width: 500px) {
                transform: scale(0.8);
                top: -40px;
            }

            @media(max-width: 390px) {
                transform: scale(0.6);
                top: 10px;
            }

            &_header {
                margin-top: 12px;
                width: 100%;
                display: flex;
                align-items: center;
                padding: 0px 12px;
                column-gap: 16px;

                &_decor {
                    width: 100px;
                }

                &_text {
                    display: flex;
                    flex-wrap: wrap;

                    &_header {
                        width: 100%;
                        font-size: 32px;
                        text-shadow: -2px -2px 0 #000,
                            2px -2px 0 #000,
                            -2px 2px 0 #000,
                            2px 2px 0 #000;
                    }


                    &_sub {
                        margin-top: 16px;
                        width: 100%;
                        font-size: 24px;
                        color: #6A6A6A;
                    }

                    &_pad {
                        padding: 0px 16px;
                    }
                }
            }

            &_inner {
                min-width: 490px;
                min-height: 350px;
                max-width: 490px;
                max-height: 350px;
                background-color: #EEEEEE;
                border-radius: 32px;
                border: 3px solid #000;
            }
        }

    }

    &_toStoryTran {
        background-color: #966A51;
        width: 100%;
        height: 400px;
        border-top: 10px solid black;
        box-shadow: inset 0px 10px 0px rgba(#fff, .2);
        display: flex;
        align-content: end;
        flex-wrap: wrap;


        &_tran {
            width: 100% !important;
            align-items: end !important;
            top: 10px;

            img {
                max-height: 400px;
                width: 100%;
                object-fit: cover;
            }

        }
    }
}