@import 'heroCoins';

.hero {
    min-height: 100vh;
    background: #FF466B url('/img/heroBgDecorElement.svg');
    background-size: 300px;
    padding-top: 160px;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    row-gap: 400px;

    @media(max-width: 400px) {
        padding-top: 240px;
    }

    &_top {
        font-size: 120px;
        width: 100%;
        text-align: center;
        text-shadow:
            -4px -4px 0 #6D1A33,
            4px -4px 0 #6D1A33,
            -4px 4px 0 #6D1A33,
            4px 4px 0 #6D1A33,
            0px 4px 0 #6D1A33,
            0px -4px 0 #6D1A33,
            -4px 0px 0 #6D1A33,
            4px 0px 0 #6D1A33,
            10px 10px 0 #6D1A33;
        position: relative;
        z-index: 1;

        @media(max-width: 1000px) {
            font-size: 80px;

            text-shadow:
                -3px -3px 0 #6D1A33,
                3px -3px 0 #6D1A33,
                -3px 3px 0 #6D1A33,
                3px 3px 0 #6D1A33,
                0px 3px 0 #6D1A33,
                0px -3px 0 #6D1A33,
                -3px 0px 0 #6D1A33,
                3px 0px 0 #6D1A33,
                7px 7px 0 #6D1A33;
        }

        @media(max-width: 600px) {
            font-size: 60px;
            text-shadow:
                -2px -2px 0 #6D1A33,
                2px -2px 0 #6D1A33,
                -2px 2px 0 #6D1A33,
                2px 2px 0 #6D1A33,
                0px 2px 0 #6D1A33,
                0px -2px 0 #6D1A33,
                -2px 0px 0 #6D1A33,
                2px 0px 0 #6D1A33,
                5px 5px 0 #6D1A33;
        }
    }

    &_bottom {
        width: 100%;
        position: relative;
        z-index: 0;
    }

    &_pig {
        width: 100% !important;
        align-items: end;

        img {
            height: 450px;

            @media(max-width: 600px) {
                height: 300px;
            }
        }
    }

    &_trans {
        width: 100% !important;
        align-items: end;

        img {
            // max-height: 600px;
            width: 100%;
            object-fit: contain;
        }
    }

}