.story {
    background-color: #fff;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    &_pig {
        width: 100% !important;
        align-items: end;
        top: 200px;
        left: -680px;

        img {
            width: 400px;
        }
    }

    &_element {
        flex-wrap: wrap;
        align-items: flex-start !important;

        &_wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        &_decor {
            width: 100% !important;
            align-items: flex-start !important;

            img {
                width: 100% !important;
            }
        }

        &_content {
            align-items: flex-start !important;
            width: 70% !important;

            top: 160px;

            &_inner {
                display: flex;
                align-items: baseline;
                column-gap: 8px;
            }

            &_num {
                min-width: 32px;
                text-shadow: 4px 4px 0px black;
                font-size: 32px;
            }

            &_text {
                font-size: 24px;
            }
        }

        &_header {
            align-items: flex-start !important;
            width: 100% !important;
            top: 100px;
            text-align: center;
            font-size: 48px;
            text-shadow: 4px 4px 0px black;
        }


        &1 {
            width: 1000px !important;
            top: -590px;
            left: -185px;

        }

        &2 {
            width: 700px !important;
            top: -360px;
            left: 475px;

            .story_element_content {
                width: 80% !important;
                top: 110px;
            }
        }

        &3 {
            width: 1150px !important;
            top: -220px;
            left: -80px;

        }
    }
}