@import "null";
@import "fonts";
@import "hero";
@import "header";
@import "about";
@import "story";
@import "roadmap";

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 15px;
}

.app {
    width: 100%;
    overflow: hidden;
}



.dnone {
    display: none;
}